
ion-slide {
  height: 100vh;
  flex-direction: column;
}

ion-img {
  max-width: 50vw;
  max-height: 50vh;
  overflow: hidden;
}
.swiper-slide {
  display: block;
}

ion-slide > h2 {
  margin-top: 2.8rem;
}

ion-slide > img {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}


.step-one {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.step-two {
  background: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.step-three {
  background: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}
ion-content {
  ion-slides {
    .swiper-pagination {
      bottom: 50px !important;
    }
}
}
