<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	{{ 'VOTER_SEARCH_SETTINGS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="preferenceForm">
    <ion-item *ngFor="let preference of availablePreferences;">
      <ion-label>{{ preference | translate}}</ion-label>
      <ion-checkbox color="primary"  formControlName="{{preference}}"  name="{{preference}}" >
      </ion-checkbox>
    </ion-item>
  </form>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="full" (click)="onApply()">
      {{'APPLY' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>