:host {
  ion-content {
    --background: var(--ion-color-light);
  }

  ion-item {
    border-radius: 0;
    // border-bottom: 1px dotted var(--ion-color-medium);
  }

  ion-card {
    &.no-radius {
      border-radius: 0;
    }
  }
}
.voter {
  ion-card {
    &.voter-image-card {
      width: 100%;
      border-radius: 0;
      background-color: #fff;
      ion-card-content {
        padding: 32px;
        background-color: var(--ion-color-primary);
        color: #fff;
        text-align: center;

        img {
          height: 128px;
          width: 128px;
          border-radius: 50%;
          border: solid 4px #fff;
          display: inline;
          box-shadow: 0 0 28px rgba(255, 255, 255, 0.65);
        }
        ion-icon {
          &.profile-image {
            height: 128px;
            width: 128px;
            color: white;
          }
        }

        h1 {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
ion-avatar {
  ion-icon {
    width: 100%;
    height: 100%;
    color: white;
  }
}
