<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button *ngIf="pageMenu?.direct === 'forward'" color="light"></ion-back-button> -->
      <ion-back-button color="light"></ion-back-button>

    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">{{'VOTER_DETAILS' | translate}}</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="voter" class="voter">
  <!-- <ion-item class="bg-profile">
    <ion-avatar slot="start" class="user-avatar">
      <img *ngIf="voter.imageUrl; else defaultUserIcon" [src]="voter.imageUrl">
      <ng-template #defaultUserIcon>
        <ion-icon name="contact"></ion-icon>
      </ng-template>
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2 style="text-transform: capitalize">
          <strong>{{voter.voterName}}</strong>
        </h2>
      </ion-text>
      <ion-text color="secondary">
        <h3>
          {{voter.voterId}}
        </h3>
      </ion-text>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon>
        {{'EDIT_OR_ADD_AVATAR' | translate}}
      </ion-button>
    </ion-label>
  </ion-item> -->

  <ion-card class="voter-image-card ion-no-margin">
    <ion-card-content class="bg-profile">
      <img *ngIf="voter.imageUrl; else defaultUserIcon" [src]="'data:image/jpeg;base64,'+ voter.imageUrl">
      <ng-template #defaultUserIcon>
        <ion-icon class="profile-image" name="contact"></ion-icon>
      </ng-template>
      <h1 class="fw500" style="text-transform: capitalize">{{voter.voterName}}</h1>
      <ion-text color="secondary">
        <h3 margin-bottom>
          {{voter.husbandOrFatherName | translate}}
        </h3>
      </ion-text>
      <ion-button icon-left color="secondary" *ngIf="!isElectionDay" (click)="onEditImage()">
        <ion-icon name="photos"></ion-icon>
        {{'EDIT_OR_ADD_AVATAR' | translate}}
      </ion-button>
    </ion-card-content>

    <ion-grid fixed no-padding *ngIf="!isElectionDay">
      <form [formGroup]="voterForm">
    <ion-row>
      <ion-col size="12" padding>

        <ion-list margin-bottom>
          <ion-list-header color="light">
            <ion-label class="fw700"> {{'BASIC' | translate}} </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'VOTE_ID' | translate}}:</ion-label>
            <ion-input formControlName="voterId"  name="voterId" inputmode="text" placeholder="Ex..: #123PDJDSAF" [value]="voter.voterId"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'SERIAL_NUMBER' | translate}}:</ion-label>
            <ion-input formControlName="serialNumber"  name="serialNumber" inputmode="text" placeholder="Ex.: 12321321"  [value]="voter.serialNumber"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="dark" position="stacked">{{'VOTER_NAME' | translate}}:</ion-label>
              <ion-input formControlName="voterName"  name="voterName" inputmode="text" placeholder="Ex..: Doe"  [value]="voter.voterName"></ion-input>
            </ion-item>
    
          <ion-item>
            <ion-label color="dark" position="stacked">{{'HUSBAND_OR_FATHER_NAME' | translate}}:</ion-label>
            <ion-input formControlName="husbandOrFatherName"  name="husbandOrFatherName" inputmode="text" placeholder="Ex.: Jhon"  [value]="voter.husbandOrFatherName"></ion-input>
          </ion-item>

        </ion-list>

        <ion-list margin-bottom>
          <ion-list-header color="light">
            <ion-label class="fw700"> {{'PERSONAL' | translate}} </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'GENDER' | translate}}:</ion-label>
            <ion-input formControlName="gender"  name="gender" inputmode="text" placeholder="Ex..: Male" [value]="voter.gender"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'AGE' | translate}}:</ion-label>
            <ion-input formControlName="age"  name="age" inputmode="text" placeholder="Ex.: 19"  [value]="voter.age"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'MARITAL_STATUS' | translate}}:</ion-label>
            <ion-input formControlName="maritalStatus"  name="maritalStatus" inputmode="text" placeholder="Ex.: Married/Unmarried"  [value]="voter.maritalStatus"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'OCCUPATION' | translate}}:</ion-label>
            <ion-input formControlName="occupation"  name="occupation" inputmode="text" placeholder="Ex.: Painter"  [value]="voter.occupation"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="dark" position="stacked">{{'CASTE' | translate}}:</ion-label>
              <ion-input formControlName="caste"  name="caste" inputmode="text" placeholder="Ex..: OBC"  [value]="voter.caste"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">{{'COMMUNITY' | translate}}:</ion-label>
              <ion-input formControlName="community"  name="community" inputmode="text" placeholder="Ex..: Devar"  [value]="voter.community"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">{{'RELIFION' | translate}}:</ion-label>
              <ion-input formControlName="religion"  name="religion" inputmode="text" placeholder="Ex..: Hindu"  [value]="voter.religion"></ion-input>
            </ion-item>
    


        </ion-list>

        <ion-list margin-bottom>
          <ion-list-header color="light">
            <ion-label class="fw700"> {{'ELECTION' | translate}} </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'BOOTH' | translate}}:</ion-label>
            <ion-input formControlName="boothId"  name="boothId" inputmode="text" placeholder="Ex..: BoothId001" [value]="voter.voterElectionDTOList[0].boothId"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'WARD_NUMBER' | translate}}:</ion-label>
            <ion-input formControlName="wardNumber"  name="wardNumber" inputmode="text" placeholder="Ex.: ward001"  [value]="voter.voterElectionDTOList[0].wardNumber"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="dark" position="stacked">{{'MLA_CONSTITUENCY' | translate}}:</ion-label>
              <ion-input formControlName="mlaConstituency"  name="mlaConstituency" inputmode="text" placeholder="Ex..: MLA"  [value]="voter.mlaConstituency"></ion-input>
              <!-- <ion-checkbox color="primary"  formControlName="mlaConstituency"  name="mlaConstituency" > -->
              <!-- </ion-checkbox> -->
            </ion-item>
    
          <ion-item>
            <ion-label color="dark" position="stacked">{{'MP_CONSTITUENCY' | translate}}:</ion-label>
            <ion-input formControlName="mpConstituency"  name="mpConstituency" inputmode="text" placeholder="Ex.: MP"  [value]="voter.mpConstituency"></ion-input>
            <!-- <ion-checkbox color="primary"  formControlName="mpConstituency"  name="mpConstituency" > -->
            <!-- </ion-checkbox> -->
          </ion-item>

        </ion-list>


        <ion-list margin-bottom>
          <ion-list-header color="light">
            <ion-label class="fw700"> {{'OTHERS' | translate}} </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'SPECIALLY_ABLED' | translate}}:</ion-label>
            <!-- <ion-input formControlName="speciallyAbled"  name="speciallyAbled" inputmode="text" placeholder="Ex..: true" [value]="voter.speciallyAbled"></ion-input> -->
            <ion-checkbox color="primary"  formControlName="speciallyAbled"  name="speciallyAbled" >
            </ion-checkbox>
          </ion-item>

        </ion-list>


        <ion-list margin-bottom>
          <ion-list-header color="light">
            <ion-label class="fw700"> {{'ADDRESS' | translate}} </ion-label>
          </ion-list-header>

          <ion-item lines="none" color="secondary">
            <ion-label>
              <h2 class="ion-no-margin fw500 no-margin">
                <ion-text color="dark" *ngIf="voter.doorNumber">{{voter.doorNumber}}</ion-text> {{' '}}
                <ion-text color="dark">{{!voter.address? 'FIND_VOTER_ADDRESS': voter.address | translate}}</ion-text>
              </h2>
      
              <p class="ion-no-margin text-11x no-margin">
                <ion-text  color="primary">{{voterLocation}}</ion-text>
              </p>
            </ion-label>
            <ion-button shape="round" fill="outline" size="small" color="primary" (click)="onLocation()">
              {{'LOCATION' | translate}}
              <ion-icon name="locate"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">{{'DOOR_NUMBER ,' | translate}}:</ion-label>
            <ion-input formControlName="doorNumber"  name="doorNumber" inputmode="text" placeholder="Ex.: 123"  [value]="voter.doorNumber"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="dark" position="stacked">{{'ADDRESS' | translate}}:</ion-label>
              <ion-input formControlName="address"  name="address" inputmode="text" placeholder="Ex..: Periyar st"  [value]="voter.address"></ion-input>
            </ion-item>
    
          <ion-item>
            <ion-label color="dark" position="stacked">{{'VILLAGE' | translate}}:</ion-label>
            <ion-input formControlName="village"  name="village" inputmode="text" placeholder="Ex..: Karnatham"  [value]="voter.village"></ion-input>
          </ion-item>
  
        <ion-item>
          <ion-label color="dark" position="stacked">{{'DISTRICT' | translate}}:</ion-label>
          <ion-input formControlName="district"  name="district" inputmode="text" placeholder="Ex.: Erode"  [value]="voter.district"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label color="dark" position="stacked">{{'locationCoordinates' | translate}}:</ion-label>
          <ion-input formControlName="locationCoordinates"  name="locationCoordinates" inputmode="text" placeholder="Ex.: 12.2121123,33.21143"  [value]="voter.locationCoordinates"></ion-input>
        </ion-item> -->

        </ion-list>

        <ion-list>
          <!-- <ion-radio-group formControlName="userType"  name="userType">
            <ion-list-header color="light">
              <ion-label class="fw700">{{'USER_TYPE' | translate}}</ion-label>
            </ion-list-header>
        
            <ion-item *ngFor="let kmpUserType of userTypes">
              <ion-label color="primary">{{kmpUserType | translate}}</ion-label>
              <ion-radio slot="start" [value=]="kmpUserType" [checked]="kmpUserType === userType"></ion-radio>
            </ion-item>
          </ion-radio-group> -->

          <!-- <ion-item>
            <ion-label class="text-1x">Checkbox test</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item> -->
        </ion-list>

      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
  <ion-button *ngIf="!isElectionDay" size="large" expand="full" color="dark" (click)="onSave()" class="ion-no-margin">{{'SAVE_BUTTON' | translate}}</ion-button>
  </ion-card>
  <ion-card class="ion-no-margin no-radius" *ngIf="isElectionDay">
      <ion-item lines="none" color="secondary">
        <ion-label>
          <h2 class="ion-no-margin fw500 no-margin">
            <ion-text color="dark" *ngIf="voter.doorNumber">{{voter.doorNumber}}</ion-text> {{' '}}
            <ion-text color="dark">{{!voter.address? 'Find Voter Address?': voter.address}}</ion-text>
          </h2>
  
          <p class="ion-no-margin text-11x no-margin">
            <ion-text  color="primary">{{voterLocation}}</ion-text>
          </p>
        </ion-label>
        <ion-button *ngIf="!isElectionDay" shape="round" fill="outline" size="small" color="primary" (click)="onLocation()">
          {{'Location'}}
          <ion-icon name="locate"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  <ion-card *ngIf="isElectionDay">
    <ion-card-header>
      <ion-card-title class="ion-text-capitalize">#{{ voter.voterId }} {{ voter.voterName }}
        <ion-chip color="primary" *ngFor="let voterElection of voter.voterElectionDTOList">
          <ion-label>{{ voterElection.electionType }}</ion-label>
        </ion-chip>
      </ion-card-title>
      <ion-card-subtitle class="ion-text-capitalize">{{ voter.husbandOrFatherName | translate}} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-text text-wrap slot="start"><b>voterId:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.voterId }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text text-wrap slot="start"><b>voterName:</b></ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.voterName }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text text-wrap slot="start"><b>serialNumber:</b></ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.serialNumber }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text text-wrap slot="start"><b>husbandOrFatherName:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.husbandOrFatherName }}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-text text-wrap slot="start"><b>gender:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.gender }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text text-wrap slot="start"><b>age:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.age }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text text-wrap slot="start"><b>religion:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.religion }}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-text text-wrap slot="start"><b>boothId:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.voterElectionDTOList[0].boothId }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text text-wrap slot="start"><b>wardId:</b> </ion-text>
          <ion-text slot="end" class="ion-text-capitalize">
            {{ voter.voterElectionDTOList[0].wardNumber }}
          </ion-text>
        </ion-item>

        {{voterElection | json}}
        <ion-item *ngFor="let voterElection of voter.voterElectionDTOList" class="ion-text-capitalize">
          <ion-text slot="start"><b>{{ voterElection.electionType }}:</b></ion-text>
          <ion-text slot="end">
            {{ voterElection?.voted ? 'Voted' : 'Not Voted' }}
          </ion-text>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="vote-footer" color="dark" *ngIf="isElectionDay">
  <ion-toolbar class="vote-toolbar">
    <ion-button *ngIf ="!voter.voterElectionDTOList[0].voted; else unVote" color="success" expand="full" (click)="onVoteOrUnVote(true)">
      {{'VOTE'| translate}}
    </ion-button>
    <ng-template #unVote>
      <ion-button color="danger" expand="full" (click)="onVoteOrUnVote(false)">
        {{'UN_VOTE' | translate}}
      </ion-button>
    </ng-template>
    
  </ion-toolbar>
</ion-footer>