<ion-content >
    <ion-fab vertical="top" horizontal="start" slot="fixed" >
        <ion-fab-button routerLink="/login">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <ion-slides [options]="slideOpts" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
      </ion-slide>
    </ion-slides>
    <div class="forgot-password-container">
      <img class="logo" src="assets/img/logo/logo-KnowMyPeople.png" />
      <form [formGroup]="forgotPasswordForm">
        <ion-item>
          <ion-input type="string" formControlName="email"  name="email" placeholder="{{ 'EMAIL' | translate }}"></ion-input>
        </ion-item>
        <ion-button class="ion-margin" color="primary" [disabled]="!forgotPasswordForm.valid" (click)="doResetPassword()">{{ 'RESET_PASSWORD' | translate }}</ion-button>
      </form>
    </div>
  </ion-content>