<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button *ngIf="pageMenu?.direct === 'root'" color="light"></ion-menu-button>
      <ion-back-button *ngIf="pageMenu?.direct === 'forward'" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pageMenu?.title | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card class="ion-no-margin">
    <ion-card-content class="bg-profile">
      <img *ngIf="userImageUrl; else defaultUserIcon" src="assets/img/avatar.png">
      <ng-template #defaultUserIcon>
          <ion-icon class="profile-image" name="contact"></ion-icon>
        </ng-template>
      <h1 class="fw500" style="text-transform: capitalize">{{userName}}</h1>
      <ion-text color="secondary">
          <h3 margin-bottom>
            {{userType | translate}}
          </h3>
      </ion-text>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        {{'EDIT_OR_ADD_AVATAR' | translate}} 
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
        <form [formGroup]="profileForm">
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700"> {{'BASIC' | translate}} </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">{{'FIRST_NAME' | translate}}:</ion-label>
              <ion-input formControlName="firstName"  name="firstName" inputmode="text" placeholder="Ex..: Joe" [value]="firstName"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="dark" position="stacked">{{'LAST_NAME' | translate}}:</ion-label>
                <ion-input formControlName="lastName"  name="lastName" inputmode="text" placeholder="Ex..: Doe"  [value]="lastName"></ion-input>
              </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">{{'EMAIL' | translate}}:</ion-label>
              <ion-input formControlName="emailId"  name="emailId" inputmode="email" placeholder="Ex.: joe@doe.com"  [value]="emailId"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">{{'MOBILE_NUMBER' | translate}}:</ion-label>
              <ion-input formControlName="mobileNumber"  name="mobileNumber" inputmode="text" placeholder="Ex.: +91 7760041123"  [value]="mobileNumber"></ion-input>
            </ion-item>

          </ion-list>

          <ion-list>
            <!-- <ion-radio-group formControlName="userType"  name="userType">
              <ion-list-header color="light">
                <ion-label class="fw700">{{'USER_TYPE' | translate}}</ion-label>
              </ion-list-header>
          
              <ion-item *ngFor="let kmpUserType of userTypes">
                <ion-label color="primary">{{kmpUserType | translate}}</ion-label>
                <ion-radio slot="start" [value=]="kmpUserType" [checked]="kmpUserType === userType"></ion-radio>
              </ion-item>
            </ion-radio-group> -->

            <!-- <ion-item>
              <ion-label class="text-1x">Checkbox test</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item> -->
          </ion-list>
  
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>
    <ion-button size="large" expand="full" color="dark" (click)="onSave()" class="ion-no-margin">{{'SAVE_BUTTON' | translate}}</ion-button>
  </ion-card>
</ion-content>
